@charset "UTF-8";
.page-container {
  width: 80%;
  margin: auto;
}
@media (max-width: 1366px) {
  .page-container {
    width: 84%;
  }
}
@media (max-width: 768px) {
  .page-container {
    width: 95%;
  }
}

body {
  font-family: "Urbanist";
  background-color: #14141F;
  color: white;
  overflow-x: hidden;
}

button, a, select {
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 540px) {
  .sectionTitle {
    flex-direction: column;
    align-items: baseline;
  }
}

.auctionCard:hover .card-content {
  background-color: #2a2a38;
}

.collectionItem:hover {
  background-color: #2a2a38;
}

.auctionCard .card-content .card-detail {
  grid-template-columns: auto 1fr;
}
.auctionCard .card-content .card-name {
  @apply h-full;
}

.todaysPickCard .card-content .card-detail {
  grid-template-columns: 1fr;
}
.todaysPickCard .card-content .card-detail > div:first-child {
  grid-template-columns: auto 1fr;
}
.todaysPickCard .card-content .card-name {
  @apply h-full;
}

.blogCard > div {
  grid-template-rows: auto 1fr;
}

.blogCard .card-detail {
  grid-template-columns: auto 1fr;
}

.blogCard .blogContent {
  grid-template-rows: 1fr auto;
}

@media (max-width: 339px) {
  .exploreSection .todaysPickCard .card-content .card-detail > div:first-child {
    grid-template-columns: 1fr;
  }
}

.seller {
  grid-template-columns: auto 1fr;
}

.seller-shadow {
  left: -7%;
  top: 15%;
  box-shadow: 50px 0px 150px 240px rgba(211, 223, 157, 0.4);
}

.walletItem svg {
  width: 100%;
  height: 100%;
}

@media (max-width: 640px) {
  footer .page-container {
    grid-template-columns: repeat(2, auto);
  }
}

.todaysPickTab {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.todaysPickTab::-webkit-scrollbar {
  height: 3px;
}
.todaysPickTab::-webkit-scrollbar-thumb {
  background: rgb(147, 51, 234);
}
.todaysPickTab::-webkit-scrollbar-thumb:hover {
  background: rgb(126, 42, 204);
}

.chooseForm input[type=checkbox] {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid white;
  overflow: hidden;
  width: 15px;
  height: 15px;
  border-radius: 2px;
}
.chooseForm input[type=checkbox]:checked {
  border-color: hsl(209, 100%, 36.5%);
}
.chooseForm input[type=checkbox]::before {
  content: "";
  position: absolute;
  inset: 0;
}
.chooseForm input[type=checkbox]:checked::before {
  background-color: hsl(209, 100%, 36.5%);
}
.chooseForm input[type=checkbox]:checked:after {
  content: "✔";
  font-size: 11px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 55%;
}

.exploreSection .chooseForm, .activitySection .chooseForm {
  margin-top: 1.5rem;
}
.exploreSection .chooseForm:first-child, .activitySection .chooseForm:first-child {
  margin-top: 0;
}
.exploreSection .chooseForm:last-child, .activitySection .chooseForm:last-child {
  border: 0;
}

.chooseForm input[type=checkbox] {
  width: 20px;
  height: 20px;
  border-color: rgba(209, 213, 219, 0.9);
  border-radius: 5px;
}

.blogDetailRecentPost {
  grid-template-columns: auto 1fr;
}
.blogDetailRecentPost .postContent {
  grid-template-columns: 1fr auto;
}

.blogMain div:has(img) img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 339px) {
  .footerItem:nth-child(odd) {
    justify-self: flex-start;
  }
}/*# sourceMappingURL=style.css.map */